:root {
  --main-text-color: #757575;
  --dark-bg-text-color: #ffffff;
  --title-color: #212121;
  --dark-background: #2f303a;
  --light-background: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1/71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-color);
  text-align: center;
}

.button-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--dark-bg-text-color);
}

.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
  background-color: var(--dark-background);
}
